<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="smmanage.dao.GoodsMapper"><!-- 命名空间改成自己的映射类 -->
	<select id="queryGoodsByName" resultType="smmanage.entity.Goods" parameterType="String"> <!-- resultType必须用全类名 -->
	select * from goods where name like #{name}  
	</select>
	
	<select id="queryAllGoods" resultType="smmanage.entity.Goods">
	select * from goods order by name;
	</select>
	
	<insert id="insertGoods" parameterType="smmanage.entity.Goods">
	insert into goods(name,price,number) values(#{name},#{price},#{number})
	</insert>
	
	<update id="update" parameterType="smmanage.entity.Goods">
	update goods set price=#{price},number=#{number} where name=#{name}
	</update>
	
	

</mapper>
